body{
    background-color: #0e162b;
}
h1{
    color: #959bb5;
    text-shadow: 0px 0px 20px #858997;
}
header{
    height: 150px;
    width: 820px;
    background-color: #495b7d;
    box-shadow: 3px 3px 5px #474c54;
}
#header-heading{
    color: #0c2042;
    border-bottom: 1px dotted #0c2042;
    text-shadow: 0px 0px 5px #f3f5f9;
}
#para01{
    color: #959bb5;
}
footer{
    height: 150px;
    width: 820px;
    background-color: #495b7d;
    box-shadow: 3px 3px 5px #474c54;
}
#footer-heading{
    color: #0c2042;
    border-bottom: 1px dotted #0c2042;
    text-shadow: 0px 0px 5px #f3f5f9;
}
#para07{
    color: #959bb5;
}
.hr{
    border: 1.5px dashed #22303f;
}

